$govuk-assets-path: "/assets/";

@use "../node_modules/govuk-frontend/dist/govuk/index";

.govuk-template__body {
  background-color: #f4f8fb;
}

#wrapper {
  background-color: #fff;;
}

.reset-button {
  border: 0;
  padding: 0;
  background: unset;
  display: inline-block;
  cursor: pointer;
  font-size: 1.1875rem;
}